#u2253-2
{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 80px;
}

#u2256
{
	border-style: none;
	border-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	background: transparent url("../images/flaticon_4416w120x125.png") no-repeat center center;
	background-size: contain !important;
}

#u2306-2
{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 80px;
}

#u2247
{
	border-style: none;
	border-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	background: transparent url("../images/video137%20copy120x120.png") no-repeat center center;
	background-size: contain !important;
}

#u2292-2
{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 80px;
}

#u2255,#u2246,#u2262
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u2261
{
	border-style: none;
	border-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	background: transparent url("../images/picture11%20copy120x120.png") no-repeat center center;
	background-size: contain !important;
}

#u2253-4,#u2306-4,#u2292-4,#u2301-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	text-align: center;
	color: #000000;
	font-size: 24px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2301-2
{
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 80px;
}

#u2249
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

._u2255.f3s_top,._u2246.f3s_top,._u2262.f3s_top,._u2249.f3s_top
{
	background-image: url("../images/u2255-full.png");
	background-position: left top;
}

#u2250
{
	border-style: none;
	border-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	background: transparent url("../images/volume26%20copy2120x120.png") no-repeat center center;
	background-size: contain !important;
}

#u2310,#u2252,#u2254,#u2309,#u2302,#u2245,#u2307,#u2288,#u2260,#u2308,#u2300,#u2248,#u2263
{
	position: relative;
}

#u2264
{
	border-style: none;
	border-color: transparent;
	background-color: #B2B2B2;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.3);
}

#u2265
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

