@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background-color: #50949F;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 452px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #50949F;
	padding-bottom: 8px;
}

#u4318
{
	z-index: 10;
	width: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u4319
{
	z-index: 11;
	width: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #B2B2B2;
	background-color: rgba(0, 0, 0, 0.3);
	padding-bottom: 195px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.3);
}

#u4320
{
	z-index: 12;
	width: 7px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	left: 3px;
}

#pu1837
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 18px;
}

#u1837
{
	z-index: 2;
	width: 294px;
	min-height: 408px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#pu4315
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 4px;
	position: relative;
}

#u4315
{
	z-index: 7;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -1px;
}

#pu4317
{
	z-index: 8;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u4317
{
	z-index: 0;
	width: 33px;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u4317.f3s_top
{
	height: 33px;
	background-image: url("../images/u4317-full.png");
	background-position: left top;
	width: 33px;
}

#pu4316
{
	width: 0.01px;
	position: relative;
	left: 7px;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 7px;
}

#u4316
{
	z-index: 9;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/flaticon_4416w-u4316-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u4314-4
{
	z-index: 3;
	width: 147px;
	min-height: 27px;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 55px;
}

#u4323
{
	z-index: 14;
	width: 35px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 228px;
	background: #FFFFFF url("../images/flaticon_32203160x160-u4323-fr.png") no-repeat center center;
	background-size: cover !important;
}

#page .verticalspacer
{
	clear: both;
}

