@-ms-viewport
{
	width: 320px;
}

@-webkit-viewport
{
	width: 320px;
}

@-o-viewport
{
	width: 320px;
}

@-moz-viewport
{
	width: 320px;
}

@viewport
{
	width: 320px;
}

.html
{
	background-color: #50949F;
}

#page
{
	z-index: 1;
	width: 320px;
	min-height: 444px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #50949F;
	padding-bottom: 16px;
}

#u2899
{
	z-index: 2;
	width: 320px;
	margin-right: -10000px;
}

#u2902
{
	z-index: 4;
	width: 320px;
	height: 143px;
	margin-right: -10000px;
}

#u3111
{
	z-index: 5;
	width: 283px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 28px;
}

#u2310
{
	z-index: 7;
	width: 253px;
	margin-right: -10000px;
	margin-top: 165px;
	left: 40px;
}

#pu2252
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2252
{
	z-index: 8;
	width: 120px;
}

#u2253-4
{
	z-index: 9;
	width: 120px;
	min-height: 120px;
	margin-right: -10000px;
}

#u2254
{
	z-index: 13;
	width: 45px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 37px;
}

#pu2255
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2256
{
	z-index: 15;
	width: 30px;
	height: 30px;
	margin-right: -10000px;
}

#u2309
{
	z-index: 16;
	width: 120px;
	margin-top: 14px;
}

#u2302
{
	z-index: 17;
	width: 120px;
	margin-right: -10000px;
}

#u2306-4
{
	z-index: 18;
	width: 120px;
	min-height: 120px;
	margin-right: -10000px;
}

#u2245
{
	z-index: 22;
	width: 45px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#pu2246
{
	z-index: 23;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2247
{
	z-index: 24;
	width: 30px;
	height: 30px;
	margin-right: -10000px;
}

#pu2307
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 133px;
}

#u2307
{
	z-index: 25;
	width: 120px;
}

#u2288
{
	z-index: 26;
	width: 120px;
	margin-right: -10000px;
}

#u2292-4
{
	z-index: 27;
	width: 120px;
	min-height: 120px;
	margin-right: -10000px;
}

#u2260
{
	z-index: 31;
	width: 45px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 37px;
}

#pu2262
{
	z-index: 32;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu2247,#pu2261
{
	width: 0.01px;
	position: relative;
	left: 7px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 8px;
}

#u2261
{
	z-index: 33;
	width: 30px;
	height: 30px;
	margin-right: -10000px;
}

#u2308
{
	z-index: 34;
	width: 120px;
	margin-top: 14px;
}

#u2300
{
	z-index: 35;
	width: 120px;
	margin-right: -10000px;
}

#u2301-4
{
	z-index: 36;
	width: 120px;
	min-height: 120px;
	margin-right: -10000px;
}

#u2248
{
	z-index: 40;
	width: 45px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 39px;
}

#pu2249
{
	z-index: 41;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2255,#u2246,#u2262,#u2249
{
	z-index: 0;
	width: 45px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u2255.f3s_top,._u2246.f3s_top,._u2262.f3s_top,._u2249.f3s_top
{
	height: 45px;
	width: 45px;
}

#pu2256,#pu2250
{
	width: 0.01px;
	position: relative;
	left: 9px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 7px;
}

#u2250
{
	z-index: 42;
	width: 30px;
	height: 30px;
	margin-right: -10000px;
}

#u2263
{
	z-index: 43;
	width: 15px;
	margin-right: -10000px;
	margin-top: 34px;
}

#u2264
{
	z-index: 44;
	width: 15px;
	padding-bottom: 195px;
	margin-right: -10000px;
}

#u2265
{
	z-index: 45;
	width: 7px;
	margin-right: -10000px;
	margin-top: 200px;
	left: 3px;
}

#u1221-5
{
	z-index: 47;
	width: 276px;
	min-height: 40px;
	text-align: center;
	color: #FFFFFF;
	line-height: 0px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 22px;
}

#u1221-2
{
	font-size: 24px;
	padding: 25px 20px 10px;
}

#u1221-3
{
	font-size: 36px;
	padding: 25px 20px 10px;
}

#u1235-4
{
	z-index: 52;
	width: 232px;
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: muli, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 44px;
}

#u1235-2
{
	padding: 7px 20px 10px;
}

#page .verticalspacer
{
	clear: both;
}

